<!DOCTYPE html>
<html>
<head>
  <title>ActivitiesFeed</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
